[Desktop Entry]
Version=%1
Type=Application
Name=%2
GenericName=%2
Comment=your comment
Exec=%3
Terminal=false
MimeType=text/plain;
Icon=your icon
Categories=Development;
StartupNotify=true
